**/.vs
**/.vscode
**/bin
**/obj
**/*.user
**/.git
**/.gitignore
**/README.md
**/.dockerignore
**/docker-compose*
**/*.Development.json
**/appsettings.Development.json
**/secret.database.json
DATABASE_CONFIG.md
.env.example