services:
  - type: web
    name: expense-tracker-api
    runtime: docker
    plan: free
    region: singapore
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: PORT
        value: 8080
    healthCheckPath: /health